{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}基底ページ{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'raemp/style.css' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    {% block css %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
<div id="topbar">
    {% block topbar %}
        <button
                type="button"
                onclick='location.href = "/raemp/person/table"'
                class="menu_btn"
        >個人一覧</button>
        <button
                type="button"
                onclick='location.href = "/raemp/tempstaff/table"'
                class="menu_btn"
        >派遣要員</button>
        <button
                type="button"
                onclick='location.href = "/raemp/shop/table"'
                class="menu_btn"
        >店舗一覧</button>
        <button
                type="button"
                onclick='location.href = "/raemp/location/table"'
                class="menu_btn"
        >所在地一覧</button>
        <button
                type="button"
                onclick='location.href = "/raemp/image/table"'
                class="menu_btn"
        >画像一覧</button>
        <button
                type="button"
                onclick='location.href = "/raemp/monthlycalendar"'
                class="menu_btn"
        >月間カレンダー</button>
        <button
                type="button"
                onclick='location.href = "/raemp/weeklycalendar"'
                class="menu_btn"
        >週間カレンダー</button>

    {% endblock %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>

