{% extends "raemp/base.html" %}
{% load static %}

{% block title %}{{ delete_confirm_title }}{% endblock %}

{% block content %}
    <h1>{{ delete_confirm_title }}</h1>
    <body>
    <form action="" method="post">{% csrf_token %}
        <p>削除してよろしいですか？?</p>
        <button
                type="submit"
                class="ra_btn"
        >削除
        </button>
        <button
                type="button"
                class="ra_btn"
                onclick="history.go(-1)"
        >キャンセル
        </button>
    </form>
    </body>
{% endblock %}