{% extends "raemp/base.html" %}
{% load static %}

{% block title %}店舗削除{% endblock %}

{% block content %}
    <h1>所在地削除</h1>
    <body>
    <form action="" method="post">{% csrf_token %}
        <p>削除してよろしいですか？?</p>
        <button
                type="submit"
                class="ra_btn"
        >削除
        </button>
        <button
                type="button"
                class="ra_btn"
                onclick="history.go(-1)"
        >キャンセル
        </button>
    </form>
    </body>
{% endblock %}